.app {
    position: absolute;
    height: 99%;
    width: 99.5%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 2.5% 2.5% 95%;
    gap: 2px;
    grid-template-areas:
        "sideMenu header"
        "sideMenu topMenu"
        "sideMenu content";
    background-color: yellow;
    min-height: 100%;
}

.topMenu {
    grid-area: topMenu;
    display: flex;
    justify-content: flex-end;
    background-color: purple;
    align-items: center;
    padding: 5px; 
}

.createButton {
    margin-right: 10%;
}

.logoutButton {
    margin-right: 1%;
}

.header {
    grid-area: header;
    background-color: green;
    text-align: center;
}

.sideMenu {
    grid-area: sideMenu;
    background-color: blue;
}

.content {
    grid-area: content;
    background-color: red;
}

