.app {
    position: absolute;
    height: 99%;
    width: 99.5%;
}

.container {
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: 2.5% 2.5% 95%;
    gap: 2px;
    grid-template-areas:
        "sideMenu header"
        "sideMenu topMenu"
        "sideMenu content";
    background-color: yellow;
    min-height: 100%;
}

.topMenu {
    grid-area: topMenu;
    display: flex;
    justify-content: flex-end;
    background-color: purple;
    align-items: center;
    padding: 5px; 
}

.createButton {
    margin-right: 7.5%;
}

.logoutButton {
    margin-right: 5%;
}

.header {
    grid-area: header;
    background-color: green;
    text-align: center;
}

.sideMenu {
    grid-area: sideMenu;
    background-color: blue;
}

.content {
    grid-area: content;
    background-color: red;
}

/* .noNotes {

} */

.notes {
    position: relative;
    margin: 1%;
    display: grid;
    grid-template-columns: 1;
    gap: 1%;
    background-color: aliceblue;
}

.note {
    display: grid;
    grid-template-columns: 3fr 0.5fr 0.5fr;
    border-style: solid;
    border-width: 1px;
}

.editButton {
    margin: 5%;
    
}

.delButton {
    margin: 5%;
}